<nav
  class="navbar fixed-bottom navbar-expand-lg navbar-dark default-color bg-dark"
>
  <div class="container">
    <span class="text-muted">
      Created by
      <a href="https://twitter.com/AdanSinAcento" target="_blank">
        AdanSinAcento
      </a>
      | Check sourcecode on
      <a a href="https://github.com/adansinacento/route-spawns" target="_blank">
        Github
      </a>
      |
      <a href="#" (click)="onOpenModal()">Whats the purpose of this?</a>
    </span>
  </div>
</nav>
