<div class="container">
  <app-footer class="text-white"></app-footer>

  <h2 class="text-white">Pokemon route spawns</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Sprite</td>
        <td>Pokemon</td>
        <td>Actions</td>
        <td>Encounters</td>
        <td>%</td>
        <td>Remove</td>
      </tr>
    </thead>
    <tbody>
      <tr app-pokemon-selector></tr>
      <tr app-single-visualizer *ngFor="let p of pokes" [poke]="p"></tr>
    </tbody>
  </table>
</div>
<app-modal-info></app-modal-info>
